<h1>Hola esta es mi pagina</h1>




<!--

    <h3>Straing interpolations</h3>
    <h2> {{ title }} </h2>
    {{ direccion }} 
    {{ 1+1 }} <br>
    {{ 'hola ' | uppercase}}
    {{ edad }}
    la suma de 2+2 es {{sumar(2,2)}}
    la potencia de 5 elevado a 3 es {{potencia(5,3)}}
    <button (click)="sumarDos()" >Sumar 2</button>
    <h1>{{ resultado }}</h1>

-->






<button (click)="numeroRandom()" >Numero random</button>
<h1>{{ nro_random}}</h1>

<button (click)="diasSemana()" >Dias de la semana random</button>
<br>

<h1>{{dia}}</h1>
<br><br>


<button onclick="document.getElementById('myImage').src='https://www.kindpng.com/picc/m/379-3797325_bombilla-pgina-para-colorear-drawing-clipart-light-bulb.png'">Apagado</button>
<img id="myImage" src="https://www.kindpng.com/picc/m/379-3797325_bombilla-pgina-para-colorear-drawing-clipart-light-bulb.png" style="width:100px">
<button onclick="document.getElementById('myImage').src='https://img2.freepng.es/20191025/rpz/transparent-light-bulb-5db355aa679946.1306430715720339624243.jpg'">Encendido</button>
<br>





